@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
/* HEC color palette */
$red:      #EA002A !default;
$yellow:   #FFD200 !default;
$violet:   #AD1AAC !default;
$magenta:  #D40F7D !default;
$orange:   #FF8400 !default;
$yellow:   #FB9E07 !default;
$cyan:     #00BCB5 !default;
$lavender: #9678D3 !default;

$primary:       $lavender !default;
$secondary:     $gray-500 !default;
$success:       $violet !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $lavender !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$font-family-sans-serif:      Helvetica Neue, sans-serif !default;
$font-family-serif:           Inter, serif !default;  /* Not actually a serif font but whatever */

$font-size-base:              1.25rem !default;
$headings-font-weight:        700 !default;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 1rem;
$sidebar-font-size: 0.95rem;
$sidebar-font-size-section: 0.9rem;


$link-color: $violet;
$link-hover-color: $lavender;

$monokai-bg: #2e3440;


$callout-color-note: #0072ce;
$callout-color-important: #00aec7;
$callout-color-tip: #00aec7;
$callout-color-caution: #f3d03e;
$callout-color-warning: #ff585d;
$callout-color-frame: #acacac;


/*-- scss:rules --*/
h2 {
  border-bottom: none;
}


// Home page stuff
.title-block {
  margin: 1em 0;
  border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}

// No space after lists-within-lists
main {
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0em;
  }
}

// Make callout text and icon bigger
.callout.callout-style-default {
  > div.callout-header,
  > .callout-body {
    font-size: 1.2rem;
  }

  .callout-icon::before {
    height: 1.2rem;
    width: 1.2rem;
    background-size: 1.2rem 1.2rem;
  }
}

// Increase font size in sidebar
.sidebar-navigation .sidebar-section .sidebar-item,
.sidebar-navigation .sidebar-item{
  line-height: 1.2;
  padding-bottom: 0.4rem;
}

.sidebar-item .sidebar-item-toggle .bi {
  // The dongle for opening and closing sections
  font-size: 1rem;
  text-align: center;
}

// Increase font size in TOC
#TOC {
  padding-bottom: 0.1em;
  background-color: lighten($violet, 60%);
  margin-left: 0;
}

#toc-title {
  font-weight: 500;
}

.sidebar nav[role="doc-toc"] > ul li a {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}


// Code stuff
// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
  font-size: 0.775em;
}

// Slight bottom margin to output
.cell-output {
  margin: 0 0 1em;
}


// Remove margin on pre in output
.cell-output pre {
  margin-bottom: 0;
  color: $gray-900;
}

// Format output and plain text blocks like code
.cell-output, pre.text {
  border: none;
  padding: .4em;
  background-color: $gray-100;
  border: 1px solid $gray-200;
  border-radius: .25rem;
}

pre.text {
  color: #000;
}


