p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.book .book-body .page-wrapper .page-inner section.normal a {
  max-width: 90% !important;
  margin-right: 10px;
  font-size: 1.3em
}

.book-summary {
 font-size: 1.4em !important;
}


.yourturn {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    background-color: #FFFFFF;
    border: dashed 5px #9678D3;
    background-image: url("figures/yourturn_c.png") 
 }
  
  
.keyidea {
   padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    background-color: #FFFFFF;
    border: dashed 5px #3DB5E6;
    background-image: url("figures/list_c.png")
  }
.codingex{
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    background-color: #FFFFFF;
    border: dashed 5px #FFD200;
    background-image: url("figures/code_c.png") 
}

.outsidethebox{
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    background-color: #FFFFFF;
    border: dashed 5px #005EB8;
    background-image: url("figures/box_c.png") 
}

.pitfall{
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    background-color: #FFFFFF;
    border: dashed 5px #00BCB5;
    background-image: url("figures/important_c.png") 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

